html
{
	height: 100%;
}

body
{
	font: 24px/33px 'EB Garamond', serif;
	color: black;
	min-height: 100%;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-feature-settings:"lnum" 1;
}

h1,
h2,
h3,
.menu,
time,
h5,
h6
{
	font: 22px/30px "pt sans", sans-serif;
	color: dodgerblue;
	text-rendering: optimizeLegibility;
}
