

<link href="./../static/css/2055/main.css" rel="stylesheet" type="text/css">

  <div class="container">
    <div class="heading">
      <div class="scores-container">
        <div class="score-container">0</div>
        <div class="best-container">0</div>
      </div>
    </div>

    <div class="above-game">
      <p class="game-intro">Join the James Bond Picture and <strong>go back in time!</strong> Can you find M ?</p>
      <a class="restart-button">New Game</a>
    </div>

    <div class="game-container">
      <div class="game-message">
        <p></p>
        <div class="lower">
	        <a class="keep-playing-button">Keep going</a>
          <a class="retry-button">Try again</a>
        </div>
      </div>

      <div class="grid-container">
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
        <div class="grid-row">
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
          <div class="grid-cell"></div>
        </div>
      </div>

      <div class="tile-container">

      </div>
    </div>

    <p class="game-explanation">
      <strong class="important">How to play:</strong> Use your <strong>arrow keys</strong> to move the tiles. When two tiles with the same image touch, they <strong>merge into one!</strong>
    </p>
    <hr>
    <p>
    <p>
    Created by <a href="https://gabrielecirulli.github.io/2048/" target="_blank">Gabriele Cirulli.</a>
    </p>
  </div>

  <script src="./../static/js/2055/bind_polyfill.js"></script>
  <script src="./../static/js/2055/classlist_polyfill.js"></script>
  <script src="./../static/js/2055/animframe_polyfill.js"></script>
  <script src="./../static/js/2055/keyboard_input_manager.js"></script>
  <script src="./../static/js/2055/html_actuator.js"></script>
  <script src="./../static/js/2055/grid.js"></script>
  <script src="./../static/js/2055/tile.js"></script>
  <script src="./../static/js/2055/local_storage_manager.js"></script>
  <script src="./../static/js/2055/game_manager.js"></script>
  <script src="./../static/js/2055/application.js"></script>
