{% extends "base.html" %}

{% block content %}
    <h1>Where to find more about me</h1>

    {% if social_links %}
        <ul class="list-group">
        {% for network in social_links %}
            <a href="{{ network.url }}" target="_blank" class="list-group-item">
                <i class="fa fa-{{ network.title }}"></i>
            </a>
        {% endfor %}
            <a class="list-group-item" href="https://stackoverflow.com/users/3823815/laguittemh" target="_blank">
                <img src="https://stackoverflow.com/users/flair/3823815.png?theme=clean" width="208" height="58" alt="profile for laguittemh at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for laguittemh at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
            </a>
            <a class="list-group-item" frameborder="0" data-theme="light" data-stack-embed="true" data-layers="1,2,3" href="https://embed.stackshare.io/stacks/embed/c524444ed40c0c2961b6f45794a595"/></a><script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>
        </ul>
    {% endif %}

    <p>Check out some of my <a href="{{ url_for('projects') }}" class="btn btn-primary" role="button">projects</a></p>
{% endblock %}