<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="My Personal Website.">
    <meta name="author" content="Louis Guitton">

    <link rel="shortcut icon" href="/static/img/favicon.ico" />

    <title>{% if title %}{{ title }} - {% endif %} Louis.</title>

    <!-- Styles CSS -->
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
</head>