{% extends "base.html" %}

{% block content %}
    <div class="page-header">
        <h1>Hi, I'm Louis.</h1>
    </div>

    <br>
    <p>
        Data scientist and freelance software engineer in Berlin with entrepreneurial experience. <br>
        Paid to code since 2014. <br>
        French and European. <br>
        Alumn from Entrepreneur First and Mines ParisTech. <br>
        Playing the bass guitar. <br>
        I'm passionate about learning, building products and prototyping my ideas.
    </p>

    <p>For more info & contact details, <a href="{{ url_for('about') }}" class="btn btn-primary" role="button">click here</a></p>

{% endblock %}
